<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>artistName</key>
	<string>林清玄</string>
	<key>book-info</key>
	<dict>
		<key>cover-image-hash</key>
		<string>DEDB0FB3B970A6CDB37D52D9A8AD1368</string>
		<key>cover-image-path</key>
		<string>OEBPS/Image00000.jpg</string>
		<key>mime-type</key>
		<string>application/epub+zip</string>
		<key>package-file-hash</key>
		<string>37350B3C1092763300B619AB43DD4036</string>
		<key>publisher-unique-id</key>
		<string>urn:uuid:273fd756-62f2-4858-8d67-99e08f24bba9</string>
		<key>unique-id</key>
		<integer>-4972255650375584712</integer>
		<key>update-level</key>
		<integer>2</integer>
	</dict>
	<key>itemName</key>
	<string>人生最美是清欢</string>
	<key>playlistName</key>
	<string>人生最美是清欢</string>
	<key>releaseDate</key>
	<string>2016-03-01</string>
	<key>sort-artist</key>
	<string>林清玄</string>
	<key>sort-artist-status</key>
	<integer>3</integer>
</dict>
</plist>
